@page "/practice/metronome"

<article class="narrow-article metronome" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebApplication">
    @*@{Html.RenderPartial("~/Views/Shared/_StructuredData.cshtml", ViewBag as object);}*@
    <meta itemprop="applicationCategory" content="Tool, Multimedia" />
    <meta itemprop="applicationSubCategory" content="Music Rehearsal" />
    <meta itemprop="operatingSystem" content="IIS/ASP.NET MVC" />
    <h2 class="offset-2">Metronome</h2>
    <div class="row">
        <div class="offset-2 col-8 jumbotron text-center">
            <div class="row">
                <button class="offset-3 btn btn-primary btn-lg start" type="button"><span class="oi @buttonFace"></span></button>
                <h1 class="offset-1 display"><span class="display">@tempo</span></h1>
            </div>
            <div class="row tempo-slider-container">
                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-xs tempo-decrement" onclick="@DecrementTempo"><span class="oi oi-caret-left"></span></button>
                </div>
                <div class="col-8">
                    <input type="range" id="tempo-slider" class="tempo-slider" min="20" max="240" step="1" bind="@tempo" />
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-xs tempo-increment" onclick="@IncrementTempo"><span class="oi oi-caret-right"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-5 col-2 unpad">
            <div class="metronome-object">
                <div class="pendulum-crossbar">
                    <div class="pendulum-grandparent">
                        <div class="pendulum-parent">
                            <div class="pendulum-child"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <audio class="downbeat-click" preload="auto" hidden="hidden">
            <source src="~/Content/Audio/downbeatClick.wav" type="audio/wav">
            <source src="~/Content/Audio/downbeatClick.mp3" type="audio/mp3">
        </audio>
        <audio class="upbeat-click" preload="auto" hidden="hidden">
            <source src="~/Content/Audio/upbeatClick.wav" type="audio/wav">
            <source src="~/Content/Audio/upbeatClick.mp3" type="audio/mp3">
        </audio>
    </div>
</article>

@functions {
    string buttonFace = "oi-media-play";
    int tempo = 120;

    void DecrementTempo() { tempo--; }
    void IncrementTempo() { tempo++; }
}