@page "/tools/measurementconverter"

<article class="narrow-article" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebApplication">
    @*@{Html.RenderPartial("~/Views/Shared/_StructuredData.cshtml", ViewBag as object);}*@
    <meta itemprop="applicationCategory" content="Tool, Multimedia" />
    <meta itemprop="applicationSubCategory" content="Math" />
    <meta itemprop="operatingSystem" content="IIS/ASP.NET MVC" />
    <h1 class="calculator-text" itemprop="name">Measurement Converter</h1>
    <h5 class="calculator-text">An Experiment in WebAssembly w/ ASP.NET Blazor</h5>
    <br/>
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Pounds</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pounds" aria-label="Pounds" aria-describedby="button-pounds" bind="@pounds" />
                    <div class="input-group-append">
                        <button class="btn-outline-secondary" type="button" id="button-pounds" onclick="@OnPounds">Calc</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Kilos</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Kilos" aria-label="Kilos" aria-describedby="button-kilos" bind="@kilos" />
                    <div class="input-group-append">
                        <button class="btn-outline-secondary" type="button" id="button-kilos" onclick="@OnKilos">Calc</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">UK Stone</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Stone" aria-label="Stone" aria-describedby="button-stone" bind="@stone" />
                    <div class="input-group-append">
                        <button class="btn-outline-secondary" type="button" id="button-stone" onclick="@OnStone">Calc</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p class="calculator-text" itemprop="description"><b>Disclaimer:</b> This converter is for demonstration purposes only.</p>
</article>

@functions {
    string pounds = string.Empty;
    string kilos = string.Empty;
    string stone = string.Empty;
    double temp;

    void OnPounds()
    {
        kilos = (double.TryParse(pounds, out temp) ? (temp * 0.4536).ToString(Constants.FORMAT) : Constants.ERROR);
        stone = (new Stone(temp)).ToString();
    }

    void OnKilos()
    {
        pounds = (double.TryParse(kilos, out temp) ? (temp * 2.2046).ToString(Constants.FORMAT) : Constants.ERROR);
        stone = (new Stone(temp * 2.2046)).ToString();
    }

    void OnStone()
    {
        var s = new Stone(stone);
        pounds = s.ToPounds().ToString(Constants.FORMAT);
        kilos = s.ToKilos().ToString(Constants.FORMAT);
    }
}