@page "/tools/timer"
@implements IDisposable

<article class="narrow-article" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebApplication">
    @*@{Html.RenderPartial("~/Views/Shared/_StructuredData.cshtml", ViewBag as object);}*@
    <meta itemprop="applicationCategory" content="Tool, Multimedia" />
    <meta itemprop="applicationSubCategory" content="Time Management" />
    <meta itemprop="operatingSystem" content="IIS/ASP.NET MVC" />
    <h2 itemprop="name">Timer</h2>
    <div class="jumbotron text-center">
        <h1>
            <button type="button" class="btn btn-primary btn-lg timer-start" onclick="@StartStop">&gt;</button>
            <span class="timer-display">@timerDisplay</span>
        </h1>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2" for="FormattedDuration">Duration:</label>
            <input class="col-sm-2 form-control duration-minutes"
                   data-val="true"
                   data-val-length="Format: (h:)mm(:ss)"
                   data-val-length-max="20"
                   data-val-length-min="1"
                   data-val-regex="Format: (h:)mm(:ss)"
                   data-val-regex-pattern="^(P((\d+)D)?T((\d+)H)?((\d+)M)?((\d+)S)?)$|^(((\d+):)?(\d+)(:(\d+))?)$"
                   id="FormattedDuration"
                   name="FormattedDuration"
                   type="text"
                   value="@formattedDuration" />
        </div>
        <div class="form-group">
            <span class="field-validation-valid" data-valmsg-for="FormattedDuration" data-valmsg-replace="true"></span>
        </div>
    </div>
    <p>Enter the timer duration, or choose one of the presets.</p>
    <p>
        <button class="btn btn-default btn-xs" onclick="@Min1">1 min.</button>
        <button class="btn btn-default btn-xs" onclick="@Min2">2 min.</button>
        <button class="btn btn-default btn-xs" onclick="@Min3">Egg Timer (3 min.)</button>
        <button class="btn btn-default btn-xs" onclick="@Min5">5 min.</button>
        <button class="btn btn-default btn-xs" onclick="@Min10">10 min.</button>
        <button class="btn btn-default btn-xs" onclick="@Min15">15 min.</button>
        <button class="btn btn-default btn-xs" onclick="@Min20">20 min.</button>
        <button class="btn btn-default btn-xs" onclick="@Min25">Tomato Timer (25 min.)</button>
        <button class="btn btn-default btn-xs" onclick="@Min30">30 min.</button>
        <button class="btn btn-default btn-xs" onclick="@Min45">45 min.</button>
        <button class="btn btn-default btn-xs" onclick="@Min60">1 hour</button>
    </p>
</article>

<audio class="bell" preload="auto">
    <source src="audio/EndRoutine.wav" type="audio/wav">
    <source src="audio/EndRoutine.mp3" type="audio/mp3">
</audio>

@functions {
    enum TimerState { stopped, running, paused };

    TimerState timerStatus = TimerState.stopped;
    string buttonFace = "&gt;";
    TimeSpan durationMinutes = new TimeSpan(0, 25, 0);
    TimeSpan oneSecond = new TimeSpan(0, 0, 1);
    string timerDisplay = "25:00";
    string formattedDuration = "25";
    System.Timers.Timer timer = new System.Timers.Timer(1000);

    void Min1() { UsePreset("1-minute-timer", 1); }
    void Min2() { UsePreset("2-minute-timer", 2); }
    void Min3() { UsePreset("egg-timer", 3); }
    void Min5() { UsePreset("5-minute-timer", 5); }
    void Min10() { UsePreset("10-minute-timer", 10); }
    void Min15() { UsePreset("15-minute-timer", 15); }
    void Min20() { UsePreset("20-minute-timer", 20); }
    void Min25() { UsePreset("tomato-timer", 25); }
    void Min30() { UsePreset("30-minute-timer", 30); }
    void Min45() { UsePreset("45-minute-timer", 45); }
    void Min60() { UsePreset("1-hour-timer", 60); }

    void UpdateButton(TimerState state)
    {
        timerStatus = state;
        switch (timerStatus)
        {
            case TimerState.stopped:
            case TimerState.paused:
                buttonFace = "&gt;";
                break;

            case TimerState.running:
                buttonFace = "||";
                break;
        }
    }

    string LTrimDuration(TimeSpan span)
    {
        string str = span.ToString();
        int length = str.Length;
        int i = 0;

        for (i = 0; i < length - 4; i++)
        {
            if (str[i] != '0' && str[i] != ':')
                break;
        }

        return str.Substring(i);
    }

    void UsePreset(string url, int minutes)
    {
        durationMinutes = new TimeSpan(0, minutes, 0);
        timerDisplay = LTrimDuration(durationMinutes);
        JSRuntime.Current.InvokeAsync<object>("history.pushState", "", "", url);
    }

    void StartStop()
    {
        timer.Start();
    }

    void OnTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        durationMinutes = durationMinutes.Subtract(oneSecond);
        timerDisplay = LTrimDuration(durationMinutes);
        JSRuntime.Current.InvokeAsync<object>("setTitle", timerDisplay);

        if (durationMinutes.TotalSeconds <= 0)
        {
            TimerExpired();
        }

        this.StateHasChanged();
    }

    void TimerExpired()
    {
        //        body.css({ "background-color": "#001912", "color": "#009871" });
        //        audio.play();
        JSRuntime.Current.InvokeAsync<object>("playBell");
        UpdateButton(TimerState.stopped);
        timer.Stop();
    }

    protected override void OnInit()
    {
        timer.Elapsed += OnTimer;
    }

    public void Dispose()
    {
        timer.Elapsed -= OnTimer;
    }
}